@media screen and (max-width: 600px) {
  .mediaQueryMainPage,
  .mediaQueryBookProgress {
    display: flex;
    flex-direction: column;
  }
  .vr {
    display: none !important;
  }
  .mediaQueryNewBookForm {
    display: flex;
    flex-direction: column;
  }
  .mediaQueryNewBookForm > div {
    width: 100%;
  }
  .mediaQueryMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mediaQueryLogo {
    width: 100% !important;
  }
}
@media screen and (max-width: 810px) {
  .mediaQueryMainPage {
    display: flex;
    flex-direction: column;
  }
  .mediaQueryBookProgress {
    clear: both;
    display: flex;
    width: 200% !important;
    justify-content:flex-end;
  }
  .vr {
    display: none !important;
  }
  .mediaQueryMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mediaQueryLogo {
    width: 100% !important;
  }
}